<!-- Modal for inserting the user -->
<div id="{{ dialog_id }}" class="modal fade">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <h4 class="modal-title">{{ dialog_title }}</h4>
          </div>
          <div class="modal-body">
      
             <form role="form" action="{{ action_url }}" method="POST">
               {{ form.csrf_token }}

               <div class="form-group">
                  <input type="hidden" class="form-control" name="action" value="{{ dialog_id }}" />
               </div>

               <div class="form-floating">                     
                  {% if dialog_id.startswith('dialog-edit') %}
                     {{ form.email(value=user.email, placeholder="email", class="form-control mb-2") }}
                  {% else %}
                     {{ form.email(placeholder="email", class="form-control mb-2") }}
                  {% endif %}
                  {{ form.email.label }}
                    {% if form.email.errors %}
                      {% for error in form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% endif %}
                </div>
        
                <div class="form-floating">
                  {{ form.password(placeholder="password", class="form-control mb-2") }}
                  {{ form.password.label }}
                    {% if form.password.errors %}
                      {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% endif %}
                </div>

                <div class="form-floating">
                  {{ form.confirm(placeholder="Confirm Password", class="form-control mb-2") }}
                  {{ form.confirm.label }}
                    {% if form.confirm.errors %}
                      {% for error in form.confirm.errors %}
                        <div class="alert alert-danger" role="alert">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% endif %}

                    <script>
                     var errorElement;

                     document.querySelector('#{{ dialog_id }} form').addEventListener('submit', function(event) {
                        if (document.querySelector('#{{ dialog_id }} form input[name="password"]').value !== document.querySelector('#{{ dialog_id }} form input[name="confirm"]').value) {                        
                           if (document.querySelectorAll('#{{ dialog_id }} form .form-floating').length > 0) {
                            var lastFormFloatingElement = document.querySelectorAll('#{{ dialog_id }} form .form-floating')[document.querySelectorAll('#{{ dialog_id }} form .form-floating').length - 1];
                            event.preventDefault();

                            if (!errorElement) {
                              errorElement = document.createElement('div');
                              errorElement.className = 'alert alert-danger';
                              errorElement.innerHTML = 'Passwords do not match';
                              lastFormFloatingElement.after(errorElement);
                            } 
                           }                            
                          }
                          else {
                           if (errorElement) {
                              errorElement.remove();
                           }                          
                        }
                      });
                   </script>                                     
                  </div>                
        
                <div class="form-group">
                    {{ form.is_admin(placeholder="is_admin", class="form-check-input mb-2") }}
                    {{ form.is_admin.label }}  
                 </div> 
                
                <div class="form-group">
                   <button class="btn btn-primary mt-4" type="submit">{{ submit_btn }}</button>
                </div>  
             </form>
          </div> 
 
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
 
       </div>
    </div>
</div>    